html{
	font-size: 625%;
	font-family: 'Hiragino Sans GB', Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 611px)			
{
	html{
	font-size: 550%;
	}
}

@media screen and (max-width: 540px)			
{
	html{
	font-size: 500%;
	}
}
@media screen and (max-width: 498px)
{
	html{
	font-size: 450%;
	}

}

@media screen and (max-width: 438px)
{
	html{
	font-size: 400%;
	}

}

@media screen and (max-width: 413px)
{
	html{
	font-size: 300%;
	}

}


html,body,div,span,img,ul,li,p,h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}
ul,li{
	list-style-type: none;
}


/*以上初始化*/

body{
	min-width: 320px;
	max-width: 720px;
	width: 100%;
	margin:0 auto;
	/*overflow:hidden;	这块不能用，不然就是显示不全咯*/
}

header{
	position: fixed;
	top: 0;/*left: 0;right: 0;*/

	min-width: 320px;
	max-width: 720px;
	width: 100%;
	margin:0 auto;
	background-color: #20bde0 ;

	z-index: 1;
	/*font-size: 0;	这里就不用font-size了用对图片display:block;*/

	/*overflow: hidden;*/

}


header img{
	display: block;
	width: .35rem;
	padding: .4rem 0 .2rem .2rem;

}
header span{
	font-size: .36rem;
}



main{
	margin-top:.95rem;
	padding: .26rem .35rem .61rem .35rem;
	/*font-size: .25rem;*/
	/*color: #9a9a9a;*/
	background-color: #f0f0f0;

	text-align: center;

	/*overflow-y: visible;*/
}

.main-top{
	border: 1px solid #c9c9c9;
	padding: .2rem 0;
	margin-bottom: .26rem;
	background-color: #fff;

	font-size: .34rem;
	color: #9a9a9a;

	display: flex;
	display: -webkit-flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;

}

.arrow{

	width: .25rem;

}

.main-content{
	border:1px solid #c9c9c9;
	background-color: #ffffff;

	position: relative;
}

.main-content-title{
	font-size: .37rem;
	color: #fbb435;
	border-bottom: 2px solid #fdb435;
	padding: .3rem 0;
}

.main-content-list{
	margin:.3rem .53rem 0 .53rem;
}

.version button {
	border: 0;
	font-size: .32rem;
	/*padding: .53rem 0;*/
	background-color: #69d1e9;
	color: #fff;
	cursor: pointer;
}

.version {
	font-size: .32rem;
	padding: .53rem 0;
	background-color: #69d1e9;
	color: #fff;

}

.number{
	background-color: #fff;
	font-size: .24rem;
	color: #787878;
	padding: .27rem 0;
}

.t333{
	position: absolute;
	right: .08rem;
	top: 49%;

	width: 0;height: 0;
	border-width: .26rem 0 .26rem .26rem;
	border-style: solid;
	border-color: #fbb435;

	border-top-color: #fff;
	border-bottom-color: #fff;
}


.circus-box{
	font-size: 0;
}

.circus{
	display: inline-block;
	width: .17rem;height: .17rem;
	border-radius: 50%;
	background-color: #f0f0f0;
	margin:  0 .05rem .1rem .05rem;	/*不能用padding*/
}



.circus:hover{
	background-color: #69d1e9 !important;
	cursor: pointer;
}


