<div ng-controller="listCtrl">
    <div class="panel panel-default ">
        <form class="form-horizontal ">
            <div class="panel-body">
                <div class="row ">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4">发布时间</label>
                            <div class="col-md-8" >
                                <input type="text"  class="form-control " id="datetimeStart" ng-model="starttime "  readonly >
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4 text-center ">—</label>
                            <div class="col-md-8" >
                                <input type="text" class="form-control " id="datetimeEnd" ng-model="endtime"   readonly>
                            </div>                           
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4 word-spacing-25">类 型</label>
                            <div class="col-md-8">
                                <select class="form-control "  name=""  ng-model="types">
                                    <option value="">全部</option>
                                    <option value="0">首页banner</option>
                                    <option value="1">找职位banner</option>
                                    <option value="2">找精英banner</option>
                                    <option value="3">行业大图</option>
                                </select>
                                <!-- 不能用这个不然不知道到底是从后台选数据渲染还是从这选数据过去 -->
                                <!-- <select name="type" class="form-control " ng-model="types" required ng-options="t.value as t.text for t in types">
                                    <option value="" selected>全部</option>
                                </select> -->                                
                            </div>
                        </div>
                    </div>
                </div>               
                <div class="row ">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-md-4 word-spacing-25">状 态</label>
                            <div class="col-md-8">
                                <select class="form-control " name="" ng-model="statuss">
                                    <option value="">全部</option>
                                    <option value="2">上线</option>
                                    <option value="1">草稿</option>
                                </select>
                                <!-- <select name="type" class="form-control " ng-model="statuss" required ng-options="t.value as t.text for t in statuss">
                                    <option value="" selected>全部</option>
                                </select>  -->
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row ">
                    <div class="col-md-4 pull-right text-right">
                        <div >
                            <button type="button" class="btn btn-danger" ng-click="clear()">清空</button>
                            <button type="button" class="btn btn-success" ng-click="search()">搜索</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="panel panel-default ">
        <div class="panel-heading">
            <strong>Article列表</strong>
            <button type="button" class="btn btn-xs btn-success pull-right margin-left-10" ui-sref="main.article-details" href="#/articleDetail">
                +新增
            </button>
        </div>
        <div class="panel-body table-responsive">
            <table class="table table-striped add-table-border">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>名称</th>
                    <th>类型</th>
                    <th>发布时间</th>
                    <th>修改时间</th>
                    <th>发布者</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody >
                    <!-- <tr ng-repeat="x in articleList|orderBy:'-updateAt'"> -->
                    <tr ng-repeat="x in articleList ">
                        <td>{{$index+1}}</td>
                        <td>{{x.title}}</td>
                        <td>{{x.type | type2view}}</td>
<!--                         <td>{{x.createAt | date:"yyyy-MM-dd HH:mm:ss"}}</td>
                        <td>{{x.updateAt | date:"yyyy-MM-dd HH:mm:ss"}}</td> -->
                        <td>
                            <div>{{x.createAt | date : 'yyyy-MM-dd'}}</div>
                            <div>{{x.createAt | date : 'HH:mm:ss'}}</div>
                            <!-- <div>{{x.createAt | date : 'hh:mm:ss'}}</div> -->
                        </td>
                        <td>
                            <div>{{x.updateAt | date : 'yyyy-MM-dd'}}</div>
                            <div>{{x.updateAt | date : 'HH:mm:ss'}}</div>
                            <!-- <div>{{x.updateAt | date : 'hh:mm:ss'}}</div> -->
                        </td>                        
                        <td>{{x.author}}</td>
                        <td>{{x.status | status2view}}</td>
                        <td>
                            <a type="button" class="btn btn-sm" ng-click="offline()">{{x.status | status2change}}</a>
                            <a type="button" class="btn btn-sm" ng-click="editor()">编辑</a>
                            <a type="button" class="btn btn-sm" ng-click="delete()">删除</a>
                        </td>
                    </tr>
                </tbody>            
            </table>
        </div>
        
        <tm-pagination conf="paginationConf"></tm-pagination>
    </div>

</div>







