
.wrap{
	margin: 0 auto;

	overflow: hidden;	
} 
.yellow{
	margin: 1.6%;	
	background-color: rgb(255,166,0);
	float:left;		
	border-radius:10%;

 	padding: 15% ;							
}

.btn{
	text-align: center;
}

button{
	width: 80%;
	padding: 1rem;
	margin: 0.5rem 0;
	font-size: 1.5rem;
	border: 0;
	border:1px solid yellow;
	border-radius: 4px;
	background-color: #fff;
	color: orange;
}

button:hover{
    background-color: orange;
    color: #fff;
    cursor: pointer;
}


