html {
  font-size: 625% !important;
  font-family: "Microsoft YaHei","Hiragino Sans GB", Arial, Helvetica, sans-serif !important;
}
html,
body,
div,
span,
img,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/*以上初始化*/
